body {
    margin: 0;
    font-family: tahoma, sans-serif, ubuntu;
}
.container {
    width: 50%;
    margin: auto;
}

/* BRAND AREA STARTS FROM HERE */

.brand {
    width: 40%;
    float: left;
}
.brand p {
    text-align: center;
    color: white;
    padding-top: 2px;
}

/* MENU BAR AREA STARTS FROM HERE */

.main-menu {
    background-color: #C490E4;
    border-radius: 5px;
}
.main-menu:after {
    content: "";
    display: block;
    clear: both;
}
.main-menu ul {
    margin: 0;
    list-style: none;
}
.main-menu > ul > li {
    float: left;
    margin-right: 0;
    position: relative;
}
.main-menu ul li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 18px;
    text-transform: capitalize;
    display: block;
    transition: 0.3s;
}
.main-menu ul li:hover a {
    background-color: #01937C;
    border-radius: 3px;
}
.main-menu ul ul {
    padding-left: 0;
    position: absolute;
    left; 0;
    top: 100%;
    min-width: 100px;
    display: none;
    z-index: 9999;
}
.main-menu ul li:hover > ul {
    display: block;
}
.main-menu ul ul li {
    position: relative;
}
.main-menu ul ul ul {
    left: 100%;
    top: 0%;
}
.main-menu ul ul li:hover a {
    background-color: goldenrod;
}
.main-menu ul ul ul li:hover a {
    background-color: #47597E;
}

/* CONTENT AREA HERE */

.main-content {
    text-align: center;
}
.main-content h1 {
    padding: 40px;
}
.main-content p {
    font-size: 20px;
}